<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Historical Thinking Assignment</title>
</head>
<body>
    <div class="title">
        <h1>Bike Ride to Stonewall</h1>
    </div>
    
    <!--       -->
    <div class="causeandconsequence"><h2>Cause and Consequence</h2></div>
    <div class="causeandconsequencetext">
        <p>This event was caused because my friends and I wanted to do something somewhat big after we finished all our assessments of our grade 10 year. We all loved biking so we were planning on a biking trip to go to somewhere. As a joke, I mentioned that we should go to Stonewall and surprisingly my friend took it seriously and we ended up all agreeing to go. My consequence I faced on my life after this event was that I missed going to a restaurant that my parents and another family planned on to get together. The food would have been good too, which I was looking forward to when my friends and I got back. However, my friends and I got back at 11pm because we wanted to stay at Stonewall for a bit longer, so I missed the outing.

    </p>
    </div>

    <a href="continuityandchange"><div class="buttontop"><h2><-- Continuity and Change </h2></div></a>
    <a href="historicalperspective"><div class="button"><h2>Historical Perspective --></h2></div></a>
</body>
</html>
