{% extends "quiz.html" %}

{% block subject %}
Biology 30S
{% endblock %}

{% block body %}
<style>
.unit-selector {
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: auto auto auto;
}
.units {
    margin: 15px;
    padding: 15px;
    width: 250px;
    border-radius: 15px;
    border: 0px;
    cursor: pointer;
}
</style>

<form action="/biology30S", method="post" class="unit-selector">
    <input type="submit", value="Homeostasis and Wellness" class="units" name='1'>
    <input type="submit", value="Digestion and Nutrition" class="units" name='2'>
    <input type="submit", value="Biochemistry" class="units" name='3'>
    <input type="submit", value="Transportation and Respiration" class="units" name='4'>
    <input type="submit", value="Excretion and Waste Management" class="units" name='5'>
    <input type="submit", value="Protection and Control" class="units" name='6'>
    <div></div>
    <input type="submit", value="Biology 30S" class="units" name='7'>
</form>
{% endblock %}
