<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Historical Thinking Assignment</title>
</head>
<body>
    <div class="title">
        <h1>Bike Ride to Stonewall</h1>
    </div>
    
    <!--       -->
    <div class="ethicaldimensions"><h2>Ethical Dimensions
    </h2></div>
    <div class="ethicaldimensionstext">
        <p>One important lesson that was learned as a result of this event is that planning is very important. When my friends and I went, we completely disregarded the weather. All we made sure was that the day would not be a rainy day. We would have been aware of the wind if we checked earlier. Next time if this event were to happen again, we would look ahead and make sure the weather suits certain conditions. We would plan a day where the wind would not be too strong, and the temperature would not be too hot. The wind increased the time it took us significantly and that would not have happened under better conditions.




    </p>
    </div>

    <a href="historicalperspective"><div class="button"><h2><-- Historical Perspective <h2></div></a>
</body>
</html>
