<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Historical Thinking Assignment</title>
</head>
<body>
    <div class="title">
        <h1>Bike Ride to Stonewall</h1>
    </div>
    
    <!--       -->
    <div class="historicalperspective"><h2>Historiacal Perspective</h2></div>
    <div class="historicalperspectivetext">
        <p>My perspective of this event is that more people should go bike far places. This is because in this trip, we all left our comfort zones and this created a strong friendship amongst one another. We all went through the same struggles and it put us in a optimistic mindset. One of my other friends does not think that anyone should bike that far because of all the struggles. Their perspective is different because he likes to stay home and watch more films. He does not think that  getting out of his comfort zone and facing all the struggles is worth it. When my friends and I were explaining the story, the struggle was what he thought of the most. Additionally, he has a different perspective because he has not experienced the same joy we had of sharing the struggle.

    </p>
    </div>

    <a href="causeandconsequence.html"><div class="buttontop"><h2><-- Cause and Consequence </h2></div></a>
    <a href="ethicaldimensions.html"><div class="button"><h2>Ethical Dimensions --></h2></div></a>
</body>
</html>
