<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Historical Thinking Assignment</title>
</head>
<body>
    <div class="title">
        <h1>Bike Ride to Stonewall</h1>
    </div>
    
    <!--       -->
    <div class="historicalsignificance"><h2>Historical Significance</h2></div>
    <div class="historicalsignificancetext">
        <p>This moment is significant in my life today because it is a moment when I left my comfort zone and challenged myself to accomplish something difficult. Battling the wind was no easy task. The friction from biking on gravel also made the situation worse. This event helped define me as a person because it has made me believe that I am capable of much more than what I think I can do. When biking to Stonewall, since the wind was so strong, we were motivated by creating a bunch of small goals. We would celebrate after biking just 2km. We were all sharing the same struggles and this created a sense that we were all connected. From this, I am happier in life by just a little motivation and the right environment. </p>
    </div>

    <a href="primaryevidence"><div class="buttontop"><h2><-- Primary Evidence </h2></div></a>
    <a href="continuityandchange"><div class="button"><h2>Continuity and Change --></h2></div></a>
</body>
</html>
