<!DOCTYPE html>
<html>
    <head>
        <title>Hi</title>
        <style>
            h1 {
                background-color: rgb(179,158,181);
            }
        </style>
    </head>
    <body>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
      <h1>Ivy is the Best!     Ivy is the Best!          Ivy is the Best!</h1>
    </body>
</html>
