<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>Historical Thinking Assignment</title>
</head>
<body>
    <div class="title">
        <h1>Bike Ride to Stonewall</h1>
    </div>
    <div class="primaryevidence"><h2>Primary Evidence</h2></div>
    <div>
        <img src="../static/IMG_1866.jfif" alt="Picture of my friends and me when we entered stonewall." class="evidencepic">
    </div>
    <div class="image1text">
        <p>This is a picture of my friends and me when we entered Stonewall. To prove we biked there, you can see Garry, my friend at the right with the orange shirt is wearing a helmet. (My helmet was on my bike handle, and so was for two of my other friends.) The helmet strap is visible. You can also see that we biked to stonewall recently because Sami, my friend beside Garry with the black hoodie, is wearing a mask. The "Welcome to Stonewall" sign is a landmark on the picture indicating that this image was taken at the entrance of Stonewall. This picture also shows that I biked with my friends as the clothing and backpack I am wearing on the picture is an outfit I wear to school.  This image also shows my hand at the bottom left indicating we were working really hard since my hands become more veiny when sweating a lot.
        </p>
    </div>
    <div>
        <img src="../static/20210618_164202.jpg" alt="Picture of my friends and me when we entered stonewall." class="evidencepic">
    </div>
    <div class="image1text">
        <p>This is another picture from the day of the event at the same location which you can tell from the grass, the power lines, as well as from the image below. The tone of the image is a bit different because this picture was taken from my phone while the previous image was a selfie taken on Garry's phone. This image also shows our bikes behind Gordan, my friend with the white shirt. He is stretching because of how sore his muscles from biking so far. My friend Sami, is laying down beacuse of how tired he was, furthur providing evidence that we biked to Stonewall.</p>
    </div>
    <div>
        <img src="../static/Screenshot_20211002-153452_Photos.jpg" alt="ScreenShot of Location Tag" class="locationtagpic">
    </div>
    <div class="image1text">
        <p>The location tag of this image shows evidence of the date, location, and time of when and where the photo was taken.</p>
    </div>
    <div class="image1text">
        <p><a href="https://climate.weather.gc.ca/climate_data/hourly_data_e.html?hlyRange=2013-01-15%7C2021-10-01&dlyRange=2018-10-30%7C2021-10-01&mlyRange=%7C&StationID=51097&Prov=MB&urlExtension=_e.html&searchType=stnProv&optLimit=specDate&StartYear=1840&EndYear=2021&selRowPerPage=25&Line=1446&Month=6&Day=18&lstProvince=&timeframe=1&Year=2021">climate.weather.gc.ca (Winnipeg Historical Weather Data for June 18, 2021)</a><br>
            On the way to Stonewall, we struggled to get there because of the strong winds. This also increased how tired we were. Historical Saved Data can be used to proove that the wind speed was high on the day we went. If you look under the wind speed column, you can see that the wind went up to 40kmph.  This was painful while biking, especially in the open prarie. Unfortunately, historical wind speeds were not recorded at the Stonewall area.</p>
    </div>

    <a href="historicalsignificance"><div class="button"><h2>Historical Significance --></h2></div></a>
</body>
</html>
