<!DOCTYPE html>
<html>
    <head>
        <title>Hi</title>
        <!-- <link rel="stylesheet" href="/static/quiz.css"> -->
    </head>
    <body style="background-color: #b0e4e7;">
        <style>
            .answer {
                cursor: pointer;
            }
        </style>
        <h1 style="text-align: center; padding-bottom: 15px;">{% block subject %}{% endblock %}</h1>

        
        {% block body %}
        {% endblock %}
        <div id='answer-block', style="visibility: hidden;">
            {{answer}}
        </div>
    </body>
</html>
